sphinx
sphinx_rtd_theme
readthedocs-sphinx-search
sphinx-autoapi
tensorflow
pandas
numpy
numba
mhcflurry
h5py
anndata
seaborn
biopython
requests
xmltodict
xmltramp2
tqdm
scipy
statsmodels
lifelines
umap-learn
plotly
Werkzeug
dash
dash-core-components
dash-dangerously-set-inner-html
dash-html-components
dash-table
mygene
